.add_elem {
    width: 100%;
    top: 0;
    bottom: auto;
}

.new_elem_form input {
    width: 30%;
}

.admin_page_table {
    top: 20%;
    height: 60%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.add_req {
    bottom: 0;
    top: auto;
    width: 50%;
}