body {
    overflow: hidden;
}

.filter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 3em;
    position: absolute;
    text-align: left;
    margin-left: 3%;
    text-shadow:   0 -3px 0 #212121,
                   0 -3px 0 #212121,
                   0  3px 0 #212121,
                     0  3px 0 #212121,
                    -3px  0 0 #212121,
                     3px  0 0 #212121,
                    -3px  0 0 #212121,
                     3px  0 0 #212121,
                    -3px -3px 0 #212121,
                     3px -3px 0 #212121,
                    -3px  3px 0 #212121,
                     3px  3px 0 #212121,
                    -3px  9px 0 #212121,
                     0  9px 0 #212121,
                     3px  9px 0 #212121,
                     0 9px 1px rgba(0,0,0,.1),
                     0 0 3px rgba(0,0,0,.1),
                     0 3px 1px rgba(0,0,0,.3),
                     0 6px 3px rgba(0,0,0,.2),
                     0 9px 9px rgba(0,0,0,.25),
                     0 12px 12px rgba(0,0,0,.2),
                     0 18px 18px rgba(0,0,0,.15);
     z-index: 2;
}

.game {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.map {
    position: absolute;
    display: inline-grid;
    grid-template-columns: repeat(20, 1fr);
    overflow: hidden;
    z-index: 1;
}

.field {
    box-sizing: border-box;
    float: left;
    width: calc(100vw / 15);
    height: calc(100vw / 15);
    border: 1px solid forestgreen;
    background: url("../images/grass2.png");
    background-size: 100%;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    #overflow: hidden;
}

.water {
    background: url("../images/water2.png");
    background-size: 100%;
}

.map_object {
    position: relative;
    margin: 3px;
}

.building {
    background: url("../images/castle.png");
    background-size: 100%;
}

.unit {
    background: url("../images/mace.png");
    background-size: 100%;
    display: none;
}

.btn_next_turn, .btn_change_map {
    visibility: visible;
    width: 150px;
    height: 150px;
    background-color: #f2f2f2;
    border: 8px solid #14213d;
    position: absolute;
    border-radius: 50%;
    bottom: 12px;
    right: 12px;
    z-index: 2;
    transition: 0.3s;
}

.btn_next_turn:hover,  .btn_change_map:hover{
    transform: scale(1.05);
}

.btn_change_map {
    left: 12px;
}

.turn_number, .btn_science {
    visibility: visible;
    width: 100px;
    height: 100px;
    background-color: #f2f2f2;
    border: 8px solid #fca311;
    position: absolute;
    border-radius: 50%;
    bottom: 30px;
    right: 150px;
    z-index: 1;
    transition: 0.3s;
}

.btn_science {
    left: 150px;
}

.btn_science:hover {
    transform: scale(1.05);
}

.turn_number h1 {
    position: relative;
    font-size: 2em;
    line-height: 100%;
    font-family: 'Bree Serif', sans-serif;
    color: #14213d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    transform: translateY(10px) translateX(-2px);
}

.play, .change_map {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
}

.science {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
}

.resources {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    bottom: 15px;
    background-color: #f2f2f2;
    border-radius: 36px;
    border: 5px solid #14213d;
    z-index: 1;
}

.resources .resource_container {
    display: inline-flex;
    padding: 5px 12px;
    z-index: 1;
}

.resource {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.resources .resource_container img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.resources .resource_container h1{
    padding-left: 6px;
    position: relative;
    font-size: 1.5em;
    line-height: 100%;
    font-family: 'Bree Serif', sans-serif;
    color: #14213d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.science_tab {
    position: absolute;
    width: 450px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 8px;
    z-index: 3;
    display: none;
}

.science_tab>header {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 12%;
    background-color: #fca311;
    border-radius: 8px 8px 0 0;
}

.science_tab>header h1 {
    position: relative;
    font-size: 2em;
    line-height: 50%;
    font-family: 'Bree Serif', sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.science_tab header .exit {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
}

.science_list {
    position: relative;
    height: 88%;
    top: 12%;
}

.available_science {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.science_element {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
}

.science_element:not(:last-child) {
    border-bottom: 1px lightgray solid;
}

.science_list header {
    display: inline-flex;
    width: 100%;
}

.science_list header img{
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 15px;
}

.science_list header h1 {
    font-size: 1.3em;
    display: block;
    font-weight: bold;
    font-family: 'Bree Serif', sans-serif;
    color: #14213d;
    padding: 0 12px;
    margin: auto 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.science_list span {
    position: relative;
    margin: 0;
    display: block;
    font-size: 1em;
    font-family: 'Bree Serif', sans-serif;
    color: #14213d;
    padding: 0 12px;
    line-height: 95%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
}

.required_resources {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.required_resources .resource_container {
    display: inline-flex;
    padding: 0 6px;
    z-index: 1;
}

.required_resources .resource_container img{
    position: relative;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.required_resources .resource_container h1{
    padding-left: 3px;
    position: relative;
    font-size: 0.9em;
    font-family: 'Bree Serif', sans-serif;
    color: #14213d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

.btn_confirm{
    display: block;
    background-color: #279c27;
    border: 0;
    padding: 5px;
    width: 60%;
    margin: 7px auto 10px auto;
    color: white;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.btn_confirm:focus{
    outline: none;
}

.btn_confirm:hover{
    background-color: limegreen;
    transform: scale(1.03);
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.unit>.unit_info {
    left: 100%;
    top: 100%;
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    width: 120px;
    height: 120px;
    z-index: 1;
}

.unit:hover>.unit_info {
    display: block;
    border-radius: 8px;
}

.unit_info header{
    display: inline-flex;
    position: absolute;
    height: 20%;
    width: 100%;
    background-color: #fca311;
    border-radius: 8px 8px 0 0;
}

.unit_info header h1{
    position: relative;
    margin: auto 0;
    font-size: 1em;
    font-family: 'Bree Serif', sans-serif;
    color: #fff;
    line-height: 80%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2px 4px;
}

.unit_info header img{
    display: block;
    position: relative;
    margin: auto 0;
    width: 20px;
    height: 20px;
    padding: 2px;
}

.unit_info .info {
    margin: auto 0;
    padding: 5px;
    top: 20%;
    height: 80%;
    position: relative;
    display: block;
    font-size: 0.9em;
    font-family: 'Bree Serif', sans-serif;
    color: #14213d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: justify;
    list-style-type: none;
}

.buildings_and_units_tab {
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: transparent;
    border-radius: 8px;
    z-index: 3;
}

.buildings_and_units_tab>header {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 10%;
    border-radius: 8px 8px 0 0;
}

.buildings_and_units_tab_header_background {
    position: absolute;
    transform: translateY(12px);
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}


.buildings_tab1, .buildings_tab2, .units_tab1, .units_tab2 {
    position: relative;
    cursor: pointer;
    bottom: 0;
    text-align: center;
    width: calc(25% - 3px);
    height: calc(100% + 12px);
    background-color: #14213d;
    border-radius: 12px 12px 0 0;
    transition: 0.3s;
}

.buildings_tab1, .buildings_tab2 {
    background-color: #fca311;
}

.buildings_tab1 {
    transform: translateY(-12px);
}

.buildings_tab1:hover, .buildings_tab2:hover, .units_tab1:hover, .units_tab2:hover {
    transform: translateY(-12px);
}

.tabs_content {
    position: relative;
    display: block;
    height: 90%;
    width: 100%;
    top: 10%;
    background-color: #f2f2f2;
    border-radius: 0 0 12px 12px;
}

.tab_image {
    position: relative;
    margin: auto 0;
    width: 45px;
    height: 45px;
    padding: 10px;
}

.tab_image_add {
    position: absolute;
    right: 25%;
    bottom: 18%;
    width: 20px;
    height: 20px;
}

.tabs_content>header {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: #f5cc16;
    transition: background-color 0.3s ease;
}

.tabs_content>header h1 {
    position: relative;
    margin: 0;
    padding: 6px;
    font-size: 1.7em;
    font-family: 'Bree Serif', sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s;
}

.tabs_content>header .exit {
    margin: 0;
    position: absolute;
    cursor: pointer;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
}