.filter {
    position: absolute;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
}

.logo {
    cursor: pointer;
    font-size: 3em;
    text-align: left;
    margin-left: 3%;
    text-shadow:   0px -3px 0 #212121,
                   0px -3px 0 #212121,
                   0px  3px 0 #212121,
                     0px  3px 0 #212121,
                    -3px  0px 0 #212121,
                     3px  0px 0 #212121,
                    -3px  0px 0 #212121,
                     3px  0px 0 #212121,
                    -3px -3px 0 #212121,
                     3px -3px 0 #212121,
                    -3px  3px 0 #212121,
                     3px  3px 0 #212121,
                    -3px  9px 0 #212121,
                     0px  9px 0 #212121,
                     3px  9px 0 #212121,
                     0 9px 1px rgba(0,0,0,.1),
                     0 0 3px rgba(0,0,0,.1),
                     0 3px 1px rgba(0,0,0,.3),
                     0 6px 3px rgba(0,0,0,.2),
                     0 9px 9px rgba(0,0,0,.25),
                     0 12px 12px rgba(0,0,0,.2),
                     0 18px 18px rgba(0,0,0,.15);
}

.login_panel {
    position: absolute;
    background-color: #f2f2f2;
    width: 400px;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login_panel header {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: black;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login_panel header h1 {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 2.5em;
    line-height: 100%;
    font-family: 'Bree Serif', sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login_form {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.login_form input {
    box-sizing: border-box;
    width: 80%;
    display: block;
    padding: 20px;
    margin: 15px auto;
    border-radius: 35px;
    font-size: 1.2rem;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: 2px solid #f2f2f2;
}

.login_form input::placeholder {
  color: #8f8fa1;
  font-family: 'Ubuntu', sans-serif;
  opacity: 0.7;
}

.login_form input:first-child {
    margin-top: 40px;
}

.login_form input:focus{
    outline: none;
    border: 2px solid #827FFE;

}

.login_form button{
    display: block;
    background-color: #827FFE;
    border: 0;
    padding: 15px;
    width: 150px;
    margin: 25px auto;
    color: white;
    border-radius: 35px;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.login_form button:focus{
    outline: none;
}

.login_form button:hover{
    background-color: #403866;
    transform: scale(1.03);
}

.login_form span {
    font-family: 'Ubuntu', sans-serif;
    color: red;
    margin: 0 10%;
}