.login_panel {
    height: 480px;
}

.login_panel header {
    height: 20%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.login_form {
    height: 80%;
    top: 20%;
}