{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_resources.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>HoC {{ usr }}</title>
{% endblock %}

{% block body %}
<main>
     <div class="filter"></div>
     <header>
         <h1 class="logo" onclick="location.href = '/';">Heroes of Civilization</h1>
     </header>
     <div class="btn" onclick="location.href = '/administrationpanel';">
            <span>MENU</span>
     </div>
        <div class="admin_page">
            <div class="admin_page_table">
                <header>
                    <h1>Surowce</h1>
                </header>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Nazwa</th>
                          <th>Opis</th>
                          <th></th>
                        </tr>
                       </thead>
                    </table>
                </div>
                <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                            <tr>
                              <td><img src="{{ url_for('static', filename='images/axes.png') }}"></td>
                              <td>#fdf</td>
                              <td>#fdf</td>
                              <td>
                                  <img class="update" src="{{ url_for('static', filename='images/update.png') }}">
                                  <img class="delete" src="{{ url_for('static', filename='images/delete.png') }}">
                              </td>
                            </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <div class="add_elem">
                <header>
                    <h1>Nowy surowiec</h1>
                </header>
                <form class="new_elem_form" action="#" method="POST">
                    <img src="{{ url_for('static', filename='images/gold-ingots.png') }}">
                    <input type="text" placeholder="Nazwa" name="r_name">
                    <input type="text" placeholder="Opis" name="r_desc">
                    <input type="file" name="r_icon">
    {#                <img itemtype="submit" src="{{ url_for('static', filename='images/add.png') }}" alt="add">#}
    {#                <img class="add" src="{{ url_for('static', filename='images/add.png') }}">#}
                    <input class="add" type="image" alt="Add" src="{{ url_for('static', filename='images/add.png') }}">
                </form>
            </div>
         </div>
 </main>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/user_page.js') }}"></script>
{% endblock %}