{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_update_unit.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>HoC {{ usr }}</title>
{% endblock %}

{% block body %}
<main>
     <div class="filter"></div>
     <header>
         <h1 class="logo" onclick="location.href = '/';">Heroes of Civilization</h1>
     </header>

     <div class="btn" onclick="location.href = '/administrationpanel/units';">
            <span>MENU</span>
     </div>
    <div class="admin_page">
        <div class="add_elem">
                <header>
                    <h1>Edytuj Jednostkę</h1>
                </header>
                <form class="new_elem_form" action="#" method="POST">
                    {% if u_array[name][8] %}
                        <img src="data:;base64,{{ u_array[name][8] }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/axes.png') }}">
                    {% endif %}
                    <input type="hidden" name="unit_name" value="">
                    <input type="text" value="{{ name }}" placeholder="Nazwa" name="u_name" required>
                    <input type="number" min="1" value="{{ u_array[name][0] }}" placeholder="Atak" name="u_damage" required>
                    <input type="number" min="1" value="{{ u_array[name][1] }}" placeholder="Obrona" name="u_def" required>
                    <input type="number" min="1" value="{{ u_array[name][2] }}" placeholder="Życie" name="u_hp" required>
                    <input type="number" min="1" value="{{ u_array[name][3] }}" placeholder="Zasięg" name="u_traveldist" required>
                    <input type="number" min="1" value="{{ u_array[name][4] }}" placeholder="Tury" name="u_turns" required>
                    <input type="text" value="{{ u_array[name][5] }}" placeholder="Opis" name="u_desc">
                    <select name="u_s_req">
                        <option value="">Potrzebne Badanie...</option>
                        {% for science in science_name %}
                            <option value="{{ science }}">{{ science }}</option>
                        {% endfor %}
                    </select>
                    <select name="u_b_req">
                        <option value="">Potrzebne Budynek...</option>
                        {% for building in buildings_name %}
                            <option value="{{ building }}">{{ building }}</option>
                        {% endfor %}
                    </select>
                    <input type="file" name="u_icon">
                    <input class="add" type="image" alt="Add" src="{{ url_for('static', filename='images/update.png') }}">
                </form>
            </div>
        <div class="admin_page_table">
            <header>
                <h1>Wymagania</h1>
            </header>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Nazwa</th>
                      <th>Ilość</th>
                      <th></th>
                    </tr>
                   </thead>
                </table>
            </div>
            <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% for i in cost %}
                    <tr>
                      <td>
                          {% if cost[i][1] %}
                              <img src="data:;base64,{{ cost[i][1] }}">
                          {% else %}
                              <img src="{{ url_for('static', filename='images/cristal.png') }}">
                          {% endif %}
                      </td>
                      <td>{{ i }}</td>
                      <td>{{ cost[i][0] }}</td>
                      <td>
                          <img class="delete" src="{{ url_for('static', filename='images/delete.png') }}"
                               onclick="delete_unit_cost('{{ name }}', '{{ i }}')">
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        <div class="add_elem add_req">
            <header>
                <h1>Dodaj wymaganie</h1>
            </header>
            <form class="new_elem_form" action="#" method="POST">
                <img src="{{ url_for('static', filename='images/gold-ingots.png') }}">
                <input type="hidden" name="unit_name" value="{{ name }}">
                <input type="number" min="1" placeholder="Ilość" name="r_amount" required>
                <select name="r_name">
                    {% for resource in resources_name %}
                        <option value="{{ resource }}">{{ resource }}</option>
                    {% endfor %}
                </select>
                <input class="add" type="image" alt="Add" src="{{ url_for('static', filename='images/add.png') }}">
            </form>
        </div>
     </div>
 </main>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/administration_panel_units_update.js') }}"></script>
{% endblock %}