{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_buildings.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>HoC {{ usr }}</title>
{% endblock %}

{% block body %}
<main>
     <div class="filter"></div>
     <header>
         <h1 class="logo" onclick="location.href = '/';">Heroes of Civilization</h1>
     </header>
     <div class="btn" onclick="location.href = '/administrationpanel';">
            <span>MENU</span>
     </div>
        <div class="admin_page">
            <div class="admin_page_table">
                <header>
                    <h1>Budynki</h1>
                    <input id="search" placeholder="szukaj">
                </header>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Nazwa</th>
                          <th>Tury do zbudowania</th>
                          <th>Opis</th>
                          <th>Potrzebne Badanie</th>
                          <th>Potrzebny Budynek</th>
                          <th>Potrzebny Surowiec</th>
                          <th></th>
                        </tr>
                       </thead>
                    </table>
                </div>
                <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        {% for i in b_array %}
                            <tr>
                              <td>
                                  {% if b_array[i][5] %}
                                  <img src="data:;base64,{{ b_array[i][5] }}">
                                  {% else %}
                                  <img src="{{ url_for('static', filename='images/cristal.png') }}">
                                  {% endif %}
                              </td>
                              <td class="search_key">{{ i }}</td>
                              <td>{{ b_array[i][0] }}</td>
                              <td>{{ b_array[i][1] }}</td>
                              <td>{{ b_array[i][2] }}</td>
                              <td>{{ b_array[i][3] }}</td>
                              <td>{{ b_array[i][4] }}</td>
                              <td>
                                  <img class="update" src="{{ url_for('static', filename='images/update.png') }}" onclick="update_building('{{ i }}')">
                                  <img class="delete" src="{{ url_for('static', filename='images/delete.png') }}" onclick="delete_building('{{ i }}')">
                              </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            <div class="add_elem">
                <header>
                    <h1>Nowy Budynek</h1>
                </header>
                <form class="new_elem_form" action="#" method="POST">
                    <img src="{{ url_for('static', filename='images/mine_wood.png') }}">
                    <input type="text" placeholder="Nazwa" name="b_name" required>
                    <input type="number" min="1" placeholder="Tury" name="b_turns" required>
                    <input type="text" placeholder="Opis" name="b_desc">
                    <select name="b_s_req">
                        <option value="">Potrzebne Badanie...</option>
                        {% for science in science_name %}
                        <option value="{{ science }}">{{ science }}</option>
                        {% endfor %}
                    </select>
                    <select name="b_b_req">
                        <option value="">Potrzebne Budynek...</option>
                        {% for building in buildings_name %}
                        <option value="{{ building }}">{{ building }}</option>
                        {% endfor %}
                    </select>
                    <select name="b_r_req">
                        <option value="">Potrzebny Surowiec...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                    </select>
                    <input type="file" name="b_icon">
                    <input class="add" type="image" alt="Add" src="{{ url_for('static', filename='images/add.png') }}">
                </form>
            </div>
         </div>
 </main>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/administration_panel_buildings.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/search.js') }}"></script>
{% endblock %}