{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administration_panel_units.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>HoC {{ usr }}</title>
{% endblock %}

{% block body %}
<main>
     <div class="filter"></div>
     <header>
         <h1 class="logo" onclick="location.href = '/';">Heroes of Civilization</h1>
     </header>

     <div class="btn" onclick="location.href = '/administrationpanel';">
            <span>MENU</span>
     </div>
        <div class="admin_page">
            <div class="admin_page_table">
                <header>
                    <h1>Jednostki</h1>
                    <input id="search" placeholder="szukaj">
                </header>
                <div class="tbl-header">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                          <th></th>
                          <th>Nazwa</th>
                          <th>Atak</th>
                          <th>Obrona</th>
                          <th>Życie</th>
                          <th>Zasięg podróży</th>
                          <th>Tury do rekrutacji</th>
                          <th>Opis</th>
                          <th>Potrzebne Badanie</th>
                          <th>Potrzebny Budynek</th>
                          <th></th>
                        </tr>
                       </thead>
                    </table>
                </div>
                <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        {% for i in u_array %}
                            <tr>
                              <td>
                                  {% if u_array[i][8] %}
                                  <img src="data:;base64,{{ u_array[i][8] }}">
                                  {% else %}
                                  <img src="{{ url_for('static', filename='images/cristal.png') }}">
                                  {% endif %}
                              </td>
                              <td class="search_key">{{ i }}</td>
                              <td>{{ u_array[i][0] }}</td>
                              <td>{{ u_array[i][1] }}</td>
                              <td>{{ u_array[i][2] }}</td>
                              <td>{{ u_array[i][3] }}</td>
                              <td>{{ u_array[i][4] }}</td>
                              <td>{{ u_array[i][5] }}</td>
                              <td>{{ u_array[i][6] }}</td>
                              <td>{{ u_array[i][7] }}</td>
                              <td>
                                  <img class="update" src="{{ url_for('static', filename='images/update.png') }}" onclick="update_unit('{{ i }}')">
                                  <img class="delete" src="{{ url_for('static', filename='images/delete.png') }}" onclick="delete_unit('{{ i }}')">
                              </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            <div class="add_elem">
                <header>
                    <h1>Nowa Jednostka</h1>
                </header>
                <form class="new_elem_form" action="#" method="POST">
                    <img src="{{ url_for('static', filename='images/sword.png') }}">
                    <input type="text" placeholder="Nazwa" name="u_name">
                    <input type="text" placeholder="Atak" name="u_damage">
                    <input type="text" placeholder="Obrona" name="u_def">
                    <input type="text" placeholder="Życie" name="u_hp">
                    <input type="text" placeholder="Zasięg" name="u_traveldist">
                    <input type="text" placeholder="Tury" name="u_turns">
                    <input type="text" placeholder="Opis" name="u_desc">
                    <select name="u_s_req">
                        <option value="">Potrzebne Badanie...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                    </select>
                    <select name="u_b_req">
                        <option value="">Potrzebne Budynek...</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                    </select>
                    <input type="file" name="u_icon">
    {#                <img itemtype="submit" src="{{ url_for('static', filename='images/add.png') }}" alt="add">#}
    {#                <img class="add" src="{{ url_for('static', filename='images/add.png') }}">#}
                    <input class="add" type="image" alt="Add" src="{{ url_for('static', filename='images/add.png') }}">
                </form>
            </div>
         </div>
 </main>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/administration_panel_units.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/search.js') }}"></script>
{% endblock %}