{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_panel.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>HoC Login</title>
{% endblock %}

{% block body %}
<main>
     <div class="filter"></div>
     <header>
         <h1 class="logo" onclick="location.href = '/';">Heroes of Civilization</h1>
     </header>
     <div class="login_panel">
         <header>
             <h1>Zaloguj się</h1>
         </header>
         <form class="login_form" action="#" method="POST">
             <input type="text" placeholder="Nazwa użytkownika" name="nm" required>
             <input type="password" placeholder="Hasło" name="pw" required>
             {% if return_msg != "" %}
             <span>{{ return_msg }}</span>
             {% endif %}
             <button>ZALOGUJ</button>
         </form>
     </div>
 </main>
{% endblock %}