{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_page.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>HoC {{ usr }}</title>
{% endblock %}

{% block body %}
<main>
     <div class="filter"></div>
     <header>
         <h1 class="logo" onclick="location.href = '/';">Heroes of Civilization</h1>
     </header>
     <div class="btn" onclick="location.href = '/logout';">
            <span>WYLOGUJ</span>
     </div>
    <div class="games">
        <div class="user_games">
            <header>
                <h1>Twoje gry</h1>
            </header>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Id gry</th>
                      <th>Rozmiar</th>
                      <th>Gracze</th>
                      <th></th>
                    </tr>
                   </thead>
                </table>
            </div>
            <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% for i in games %}
                        <tr>
                          <td><img src="{{ url_for('static', filename='images/axes.png') }}"></td>
                          <td>#{{ i[0] }}</td>
                          <td>{{ i[1] }}x{{ i[2] }}</td>
                          <td>{{ i[3] }}/{{ i[4] }}</td>
                          <td>
                              <img class="enter" src="{{ url_for('static', filename='images/enter2.png') }}" onclick="location.href = '/game';">
                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="all_games">
            <header>
             <h1>Wszystkie gry</h1>
            </header>
            <div class="tbl-header">
                <table cellpadding="0" cellspacing="0" border="0">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Id gry</th>
                      <th>Rozmiar</th>
                      <th>Gracze</th>
                      <th></th>
                    </tr>
                   </thead>
                </table>
            </div>
            <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
                    {% for i in all_games %}
                        <tr>
                          <td><img src="{{ url_for('static', filename='images/axes.png') }}"></td>
                          <td>#{{ i[0] }}</td>
                          <td>{{ i[1] }}x{{ i[2] }}</td>
                          <td>{{ i[3] }}/{{ i[4] }}</td>
                          <td>
                              <img class="enter" src="{{ url_for('static', filename='images/enter2.png') }}" onclick="open_game({{ i[0] }})">
                          </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="add_game">
            <header>
                <h1>Nowa gra</h1>
            </header>
            <form class="new_game_form" action="#" method="POST">
                <img src="{{ url_for('static', filename='images/sword.png') }}">
                <input type="number" placeholder="Wysokość" name="xs">
                <input type="number" placeholder="Szerokość" name="ys">
                <input type="number" placeholder="Gracze" name="maxp">
                <input type="number" step=".01" placeholder="Surowce" name="chances">
{#                <img itemtype="submit" src="{{ url_for('static', filename='images/add.png') }}" alt="add">#}
{#                <img class="add" src="{{ url_for('static', filename='images/add.png') }}">#}
                <input class="add" type="image" alt="Add" src="{{ url_for('static', filename='images/add.png') }}">
            </form>
        </div>
     </div>
 </main>
 <script type="text/javascript" src="{{ url_for('static', filename='JS/user_page.js') }}"></script>
{% endblock %}W